@font-face {
    font-family: "Blinker Regular";
      src: url("../fonts/Blinker-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Blinker Regular", sans-serif;
}

a {
    text-decoration: none;
    color: #404040;   
}

nav {
    background-color: #f9f9f9;
    height: 10vh;
    widows: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

main {
    display: flex;
    
}

section {
    width: 70%;
    height: 75vh;
}

aside {
    width: 30%;
    height: 75vh;
}

footer {
    width: 100%;
    height: 15vh;
}



